<app-header></app-header>
<div class="assignment-view-wrapper wrapper-padding max-width-section">
  <h1 class="mb-3">My Assignments</h1>
  <app-input-dropdown-select [inputDataList]="completionStatusOptions" [name]="'Completion Status'"  (outputData)="filterData($event, 'Completion Status')"></app-input-dropdown-select>
  <app-input-dropdown-select [inputDataList]="submissionStatusOptions" [name]="'Submission Status'"  (outputData)="filterData($event, 'Submission Status')"></app-input-dropdown-select>
  <app-table [dataSource]="dataSource" [displayedColumns]="displayedColumns" [actionType]="actionType"></app-table>
</div>
