<!------------------>
<!-- Navbar Admin -->
<mdb-navbar *ngIf="userRole=='admin'" SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" *ngIf="userRole=='admin'">
            <img src="../../../../../assets/images/logo.png" routerLink="/admin/home" height="40" alt="">
        </a>
    </mdb-navbar-brand>

    <links>
        <!-- ADMIN -->
        <ul class="navbar-nav mr-auto" *ngIf="userRole=='admin'">
            <li class="nav-item" [ngClass]="{'active': url == '/admin/account/create'}">
                <a class="nav-link waves-light"  routerLink="/admin/account/create" mdbWavesEffect> Account & Grouping Creation </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': url == '/admin/account/edit'}">
                <a class="nav-link waves-light" routerLink="/admin/account/edit" mdbWavesEffect> Edit Account & Grouping </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': url == '/admin/account/delete'}">
                <a class="nav-link waves-light" routerLink="/admin/account/delete" mdbWavesEffect> Delete Account </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': url == '/admin/activitylog'}">
                <a class="nav-link waves-light" routerLink="/admin/activitylog" mdbWavesEffect> Activity Log </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                  <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect data-toggle="modal" data-target="#basicExampleModal"> Change Password </a>
                  <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/login">Log out</a>
                </div>
            </li>
        </ul>
    </links>
</mdb-navbar>
<!-- END OF ADMIN -->
<!------------------>

<!-- Navbar Instructor -->
<mdb-navbar *ngIf="userRole=='instructor'" SideClass="navbar navbar-expand-lg navbar-dark secondary-color">
    <mdb-navbar-brand>
        <a class="navbar-brand" *ngIf="userRole=='instructor'">
            <img src="../../../../../assets/images/logo.png" routerLink="/instructor/home" height="40" alt="">
        </a>
    </mdb-navbar-brand>
    <links>
        <!-- Float Left -->
        <ul class="navbar-nav mr-auto" *ngIf="userRole=='instructor'">
            <li class="nav-item active" [ngClass]="{'active': url == '/instructor/account/create'}">
              <a class="nav-link waves-light" routerLink="/instructor/account/create" mdbWavesEffect> Create Student </a>
            </li>
            <li class="nav-item active" [ngClass]="{'active': url == '/instructor/assignment/create'}">
                <a class="nav-link waves-light" routerLink="/instructor/assignment/create" mdbWavesEffect> New Assignment </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': url == '/instructor/assignment/edit'}">
                <a class="nav-link waves-light" routerLink="/instructor/assignment/edit" mdbWavesEffect> Edit Assignment </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': url == '/instructor/assignment/mark'}">
                <a class="nav-link waves-light" routerLink="/instructor/assignment/mark" mdbWavesEffect> Mark Assignment </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': url == '/instructor/activitylog'}">
                <a class="nav-link waves-light" routerLink="/instructor/activitylog" mdbWavesEffect> My Activity Log </a>
            </li>
        </ul>
        <!-- Float Right -->
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                  <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect data-toggle="modal" data-target="#basicExampleModal"> Change Password </a>
                  <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/login">Log out</a>
                </div>
              </li>
        </ul>

    </links>
</mdb-navbar>
<!-- End of Instructor -->
<!----------------------->

<!-- Navbar Student -->
<mdb-navbar *ngIf="userRole=='student'" SideClass="navbar navbar-expand-lg navbar-dark orange">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" *ngIf="userRole=='student'">
            <img src="../../../../../assets/images/logo.png" routerLink="/student/assignment/view" height="40" alt="">
        </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <!-- STUDENT -->
        <ul class="navbar-nav mr-auto" *ngIf="userRole=='student'">
          <li class="nav-item active" [ngClass]="{'active': url == '/student/assignment/view'}">
            <a class="nav-link waves-light" routerLink="/student/assignment/view" mdbWavesEffect> My Assignments </a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                  <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect data-toggle="modal" data-target="#basicExampleModal"> Change Password </a>
                  <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/login">Log out</a>
                </div>
            </li>
        </ul>
    </links>

</mdb-navbar>
<!--/.Navbar-->


<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"> Password Reset </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3> Resetting your password would require you to logout, are you sure you would like to reset your password now? </h3>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="warning" class="btn btn-warning" routerLink="/update_password" data-dismiss="modal"> proceed to reset </button>
        <button type="button" mdbBtn color="light" class="btn btn-light" data-mdb-ripple-color="dark" data-dismiss="modal"> close </button>
      </div>
    </div>
  </div>
</div>