<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" *ngIf="userRole=='admin'">
            <img src="../../../../../assets/images/logo.png" routerLink="/admin/home" height="40" alt="">
        </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

    <!--
    <li class="nav-item active" [ngClass]="{'active': url == '/my-task'}">
        <a class="nav-link waves-light" routerLink="/my-task" mdbWavesEffect> Account & Grouping Creation </a>
    </li>
    -->

        <!-- ADMIN -->
        <ul class="navbar-nav mr-auto" *ngIf="userRole=='admin'">
            <li class="nav-item" [ngClass]="{'active': url == '/admin/account/create'}">
                <a class="nav-link waves-light"  routerLink="/admin/account/create" mdbWavesEffect> Account & Grouping Creation </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect> Edit Account & Grouping </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': url == '/admin/account/delete'}">
                <a class="nav-link waves-light" routerLink="/admin/account/delete" mdbWavesEffect> Delete Account </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': url == '/admin/freelance'}">
                <a class="nav-link waves-light" routerLink="/admin/freelance" mdbWavesEffect> Calculate Freelance Wages </a>
            </li>
        </ul>
        <!-- END OF ADMIN -->

        <!-- INSTRUCTOR -->
        <ul class="navbar-nav mr-auto" *ngIf="userRole=='instructor' || userRole=='freelancer'">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect> New Assignment </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect> Edit Assignment </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect> Mark Assignement </a>
            </li>
        </ul>
        <!-- END OF INSTRUCTOR -->

        <!-- STUDENT -->
        <ul class="navbar-nav mr-auto" *ngIf="userRole=='student'">
            <!-- Empty -->
        </ul>
        <!-- END OF INSTRUCTOR -->

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                  <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect routerLink="login">Log out</a>
                </div>
              </li>
        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
