<app-header></app-header>
<div class="account-create-wrapper wrapper-padding">
  <h1 class="mb-3"> Activity Log </h1>

    <ng-container><app-input-dropdown-select [inputDataList]="schools" [name]="nameSchool" (outputData)="get_query_schools($event)"></app-input-dropdown-select></ng-container>
    <!-- <ng-container><app-input-dropdown-select [inputDataList]="instrustor" [name]="nameInstrustor" (outputData)="get_query_instrustor($event)"></app-input-dropdown-select></ng-container> -->
    
  <br>
  <app-table [dataSource]="dataSource" [displayedColumns]="displayedColumns" [actionType]="actionType"></app-table>
</div>

