<app-header></app-header>
<div class="assignment-submit-individual-wrapper wrapper-padding max-width-section">
  <h1 class="mb-3" *ngIf="assignment">{{assignment.name}}</h1>
  <h3 class="mb-3">Assignment Description</h3>
  <p class="mb-3" *ngIf="assignment">{{assignment.description}}</p>
  <h3 class="mb-3">Assignment Attachments</h3>
  <div class="mb-2" *ngIf="assignment && assignment.file_names" >

    <div *ngFor="let file_name of assignment.file_names" class="mb-1">
      <mat-icon class="mr-2">attachment</mat-icon>
      <a class="attachment-name" target="_blank"
         [href]= "'https://firebasestorage.googleapis.com/v0/b/synchrony-581ed.appspot.com/o/assignment%2F' + assignment.docId + '%2F' + file_name + '?alt=media'">
        {{file_name}}</a>
    </div>
  </div>
  <h3 class="mb-3">Assignment Submission</h3>

  <div class="form-group mb-3">
    <label>Attach Score Sheet</label>
    <input #scoresheetFile type="file" class="form-control" accept="application/pdf">
    <div *ngIf="assignmentSubmission && assignmentSubmission.student_attachment_scoresheet" class="form-text text-muted" >
      Previous Submission: <a [href]="assignmentSubmission.student_attachment_scoresheet">{{assignmentSubmission.student_attachment_scoresheet_name}}</a>
    </div>

  </div>
  <div class="form-group mb-3">
    <label>Attach Recording</label>
    <input #recordingFile type="file" class="form-control" accept="video/*">
    <div *ngIf="assignmentSubmission && assignmentSubmission.student_attachment_recording" class="form-text text-muted" >
      Previous Submission: <a [href]="assignmentSubmission.student_attachment_recording">{{assignmentSubmission.student_attachment_recording_name}}</a>
    </div>
  </div>

  <div class="go-back-section" (click)="onGoBackClick(assignment)">
    <mat-icon class="mr-1 mt-1">arrow_back</mat-icon>
    <span class="go-back-text mr-3 mt-1">Back</span>
    <button *ngIf="assignment" class="btn btn-info submit-btn" (click)="onSubmitClick()">Submit</button>
  </div>

<!--  <app-confirm-modal></app-confirm-modal>-->
</div>
