<app-header></app-header>

<div class = assignment_create_wrapper>
  <div class="container">
    <br>
    <h1>New Assignment</h1>
    <br>
    <form [formGroup]="newAssignmentForm" (ngSubmit)="onSubmit()">

      <label for="title"> Title: </label> <br>
      <input type="text" formControlName="title"/>

      <br>

      <label for="due_date"> Due Date: </label>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Select a Date:"
              (dateInput)="captureEvent('input', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br>

      <label for="due_time"> Due Time: </label>
      <mat-form-field appearance="fill">
        <mat-label>Select a time slot: </mat-label>
        <mat-select [(value)]="timeSelected">
          <mat-option>None</mat-option>
          <mat-option value="0800">8:00am</mat-option>
          <mat-option value="0830">8:30am</mat-option>
          <mat-option value="0900">9:00am</mat-option>
          <mat-option value="0930">9:30am</mat-option>
          <mat-option value="1000">10:00am</mat-option>
          <mat-option value="1030">10:30am</mat-option>
          <mat-option value="1100">11:00am</mat-option>
          <mat-option value="1130">11:30am</mat-option>
          <mat-option value="1200">12:00pm</mat-option>
          <mat-option value="1230">12:30pm</mat-option>
          <mat-option value="1300">1:00pm</mat-option>
          <mat-option value="1330">1:30pm</mat-option>
          <mat-option value="1400">2:00pm</mat-option>
          <mat-option value="1430">2:30pm</mat-option>
          <mat-option value="1500">3:00pm</mat-option>
          <mat-option value="1530">3:30pm</mat-option>
          <mat-option value="1600">4:00pm</mat-option>
          <mat-option value="1630">4:30pm</mat-option>
          <mat-option value="1700">5:00pm</mat-option>
          <mat-option value="1730">5:30pm</mat-option>
          <mat-option value="1800">6:00pm</mat-option>
          <mat-option value="1830">6:30pm</mat-option>
          <mat-option value="1900">7:00pm</mat-option>
          <mat-option value="1930">7:30pm</mat-option>
          <mat-option value="2000">8:00pm</mat-option>
          <mat-option value="2030">8:30pm</mat-option>
          <mat-option value="2100">9:00pm</mat-option>
          <mat-option value="2130">9:30pm</mat-option>
          <mat-option value="2200">10:00pm</mat-option>
          <mat-option value="2230">10:30pm</mat-option>
          <mat-option value="2300">11:00pm</mat-option>
          <mat-option value="2330">11:30pm</mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <label for="school_instrument_level"> Class: </label>
      <br>
      
      <div class="row">
        <div class="form-outline col-3" *ngIf="displaySchool">
            <app-input-select id="testSchool" [inputDataList]="schools" [name]="nameSchool" (outputData)="get_query_data_school($event)"></app-input-select>
        </div>
        <div class="form-outline col-3" *ngIf="displayInstruments">
            <app-input-select [inputDataList]="queriedInstruments" [name]="nameInstrument" (outputData)="get_query_data_instrument($event)"></app-input-select>
        </div>
        <div class="form-outline col-3" *ngIf="displayLevels">
            <app-input-select [inputDataList]="queriedLevels" [name]="nameLevels" (outputData)="get_query_data_level($event)"></app-input-select>
        </div>
        <div class="form-outline col-3" *ngIf="displayInstruments">
            <button type="button" mdbBtn color="success" mdbWavesEffect (click)="add()"> Add </button>
        </div>
      </div>

      <div class="row">
        <div class="form-outline col-12">
            <button type="button" class="btn btn-primary" *ngFor="let buttonText of assignmentSchoolInstrumentLevel; let i = index;" (click)="removeGroup(i)"> {{buttonText}} <span class="badge bg-danger ms-2"> X </span> </button>
            <button *ngIf="addSchoolInstrumentsLevels" type="button" class="btn btn-success" (click)="add_display_school_instrument_level()" > + Add </button>
        </div>
      </div>

      <mat-error *ngIf="buttonRepeat && !isSubmitClicked">
        Don't repeat the same class twice!
      </mat-error>

      <mat-error *ngIf="classUndefined">
        You must specify a school, instrument and level to add a class!
      </mat-error>

      <mat-error *ngIf="timeUndefined">
        Due date or due time has not been specified!
      </mat-error>

      <mat-error *ngIf="dueDateError">
        Your due date is set before today!
      </mat-error>

      <mat-error *ngIf="title.errors?.required && isSubmitClicked">
        Please insert an assignment title!
      </mat-error>

      <br>
      <label for = "description"> Assignment Description: </label>
      <br>
      <textarea rows="4" cols="80" formControlName="description"></textarea>
      <br>

        <!-- Dropzone -->
      <br>
      <div class="custom-dropzone" ngx-dropzone (change)="onSelect($event)" [accept]="'.pdf,.mp4'">
        <ngx-dropzone-label> Please drag and drop your attachment files for this assignment here.<br>(Optional, Accepted format: .pdf, .mp4)</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </div>

      <br>
      <button mdbBtn color="success" [disabled]="!createAssignmentButtonClickable" class="create_assignment" (click)="createAssignment()">Create Assignment</button>
    </form>

  </div>
</div>
