<app-header></app-header>

<div class = assignment_create_wrapper>
  <div class="container">
    <br>
    <h1>New Assignment</h1>
    <br>
    <form [formGroup]="newAssignmentForm" (ngSubmit)="onSubmit()">

      <label for="title"> Title: </label> <br>
      <input type="text" formControlName="title"/>

      <br>

      <label for="due_date"> Due Date: </label>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Select a Date:"
              (dateInput)="captureEvent('input', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br>

      <label for="due_time"> Due Time: </label>
      <mat-form-field appearance="fill">
        <mat-label>Select a time slot: </mat-label>
        <mat-select [(value)]="timeSelected">
          <mat-option>None</mat-option>
          <mat-option value="0800">8:00am</mat-option>
          <mat-option value="0830">8:30am</mat-option>
          <mat-option value="0900">9:00am</mat-option>
          <mat-option value="0930">9:30am</mat-option>
          <mat-option value="1000">10:00am</mat-option>
          <mat-option value="1030">10:30am</mat-option>
          <mat-option value="1100">11:00am</mat-option>
          <mat-option value="1130">11:30am</mat-option>
          <mat-option value="1200">12:00am</mat-option>
          <mat-option value="1230">12:30am</mat-option>
          <mat-option value="1300">1:00pm</mat-option>
          <mat-option value="1330">1:30pm</mat-option>
          <mat-option value="1400">2:00pm</mat-option>
          <mat-option value="1430">2:30pm</mat-option>
          <mat-option value="1500">3:00pm</mat-option>
          <mat-option value="1530">3:30pm</mat-option>
          <mat-option value="1600">4:00pm</mat-option>
          <mat-option value="1630">4:30pm</mat-option>
          <mat-option value="1700">5:00pm</mat-option>
          <mat-option value="1730">5:30pm</mat-option>
          <mat-option value="1800">6:00pm</mat-option>
          <mat-option value="1830">6:30pm</mat-option>
          <mat-option value="1900">7:00pm</mat-option>
          <mat-option value="1930">7:30pm</mat-option>
          <mat-option value="2000">8:00pm</mat-option>
          <mat-option value="2030">8:30pm</mat-option>
          <mat-option value="2100">9:00pm</mat-option>
          <mat-option value="2130">9:30pm</mat-option>
          <mat-option value="2200">10:00pm</mat-option>
          <mat-option value="2230">10:30pm</mat-option>
          <mat-option value="2300">11:00pm</mat-option>
          <mat-option value="2330">11:30pm</mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <label for="select_school"> Select A School: </label>

      <mat-form-field appearance="fill">
        <mat-label> Select a school: </mat-label>
        <mat-select [(value)]="schoolSelected" (selectionChange) = "populateInstrumentOptions()">
          <mat-option *ngFor="let schoolOption of schoolOptions" [value]="schoolOption">
            {{schoolOption}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <label for = "select_instrument"> Select An Instrument </label>

      <!-- <app-input-dropdown-select [instrumentOptions]="instrumentOptions" (outputData)="getInstrumentOptions($event)"></app-input-dropdown-select> -->
      <mat-form-field appearance="fill">
        <mat-label>Select an instrument:</mat-label>
        <mat-select [(value)]="instrumentSelected" (selectionChange) = "populateLevelOptions()">
          <mat-option *ngFor="let instrumentOption of instrumentOptions" [value]="instrumentOption">
            {{instrumentOption}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <label for = "select_level"> Select Level </label>
      <mat-form-field appearance="fill">
        <mat-label>Select A Level:</mat-label>
        <mat-select [(value)]="levelSelected">
          <mat-option *ngFor="let levelOption of levelOptions" [value]="levelOption">
            {{levelOption}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <button class="badge" *ngFor="let buttonText of buttonTexts; let i = index;" (click)="removeButton(i)">{{buttonText}}</button>

      <mat-error *ngIf="buttonRepeat && !isSubmitClicked">
        Don't repeat the same class twice!
      </mat-error>

      <mat-error *ngIf="classUndefined">
        You must specify a school, instrument and level to add a class!
      </mat-error>

      <mat-error *ngIf="timeUndefined">
        Due date or due time has not been specified!
      </mat-error>

      <mat-error *ngIf="dueDateError">
        Your due date is set before today!
      </mat-error>

      <mat-error *ngIf="title.errors?.required && isSubmitClicked">
        Please insert an assignment title!
      </mat-error>

      <br><button mdbBtn color="info" type="submit">Add Class</button>

      <br>
      <label for = "description"> Assignment Description: </label>
      <br>
      <textarea rows="4" cols="80" formControlName="description"></textarea>
      <br>

        <!-- Dropzone -->
      <br>
      <div class="custom-dropzone" ngx-dropzone (change)="onSelect($event)" [accept]="'.pdf,.mp4'">
        <ngx-dropzone-label> Please drag and drop your attachment files for this assignment here.<br>(Optional, Accepted format: .pdf, .mp4)</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </div>

      <br>
      <button mdbBtn color="success" [disabled]="!createAssignmentButtonClickable" class="create_assignment" (click)="createAssignment()">Create Assignment</button>
    </form>



    <!-- <p>Date day: {{event?.getDate()}}</p> -->
    <!-- There is a bug in the calendar, be sure to add +1 later on  -->
    <!-- <p>Date month: {{event?.getMonth()}}</p>
    <p>Date year: {{event?.getUTCFullYear()}}</p>
    <p>Time selected: {{timeSelected}}</p>
    <p>School selected: {{schoolSelected}}</p>
    <p>Instrument selected: {{instrumentSelected}}</p>
    <p>Level selected: {{levelSelected}}</p>
    <p>Form Value: {{ newAssignmentForm.value | json }}</p>
    <p>Form status: {{ newAssignmentForm.status | json }}</p> -->

  </div>
</div>
