//@import "../../../styles/variables";

.assignment-mark-individual-wrapper {
  .min-height {
    height: 80vh;
  }
  .reduced-height {
    height: 50vh;
  }
  .video-camera {
    width: 410px;
    height: auto;
  }
  .video-screen {
    width: 100%;
    height: auto;
  }
}
