<div class="assignment-mark-individual-wrapper">
<!--  <h1 *ngIf="assignment && student" class="mb-1">Mark {{assignment.name}} for {{student.firstName + ' ' +student.lastName}}</h1>-->
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="16px" class="mb-3">
    <button class="btn btn-info" (click)="onInstructionsClick()">View Instructions</button>
    <label class="btn btn-primary mb-0">
      <i class="fa fa-image"></i> Load PDF
      <input #pdfInput type="file" accept="application/pdf"  class="d-none"(change)="onLoadPdfClick($event)" [textContent]="'Load Pdf'"/>
    </label>
    <label class="btn btn-primary mb-0">
      <i class="fa fa-image"></i> Load video
      <input #videoInput type="file" accept="video/*"  class="d-none"(change)="loadVideo()" [textContent]="'Upload Video'"/>
    </label>
  </div>

  <!--  <div [ngClass]="{'invisible' : isRecording}" class="form-text mb-1" >-->
<!--    Download the scoresheet and open it in the pdf viewer on the left:-->
<!--    <a #scoresheet target="_blank" [href]="assignmentSubmission?.student_attachment_scoresheet">-->
<!--      {{assignmentSubmission?.student_attachment_scoresheet_name}}-->
<!--    </a>-->
<!--  </div>-->
<!--  <div [ngClass]="{'invisible' : isRecording}" class="form-text mb-3" >-->
<!--    Download the video recording and open it in the video player on the right:-->
<!--    <a #videoPlayer target="_blank" [href]="assignmentSubmission?.student_attachment_recording">-->
<!--      {{assignmentSubmission?.student_attachment_recording_name}}-->
<!--    </a>-->
<!--    <p>Then, click on the grey button below to share your screen and the white circle record button to start recording</p>-->
<!--  </div>-->
  <div fxLayout="row wrap" fxLayoutGap="32px grid" fxLayoutAlign="space-between" class="mb-2">
    <ngx-extended-pdf-viewer fxLayout="column" fxFlex="50" fxFlex.lt-md="100" useBrowserLocale="true" height="80vh" [ngClass.lt-md]="'reduced-height'"></ngx-extended-pdf-viewer>
    <div fxLayout="column" fxLayoutAlign="center" fxFlex="50" fxFlex.lt-md="100" >
<!--      <app-video-player></app-video-player>-->
    </div>
  </div>
<!--  <div fxLayout="row" fxLayoutAlign="center">-->
<!--    <button *ngIf="!isRecording" class="btn btn-success mr-3" (click)="onRecordClick()">{{recorded ? 'Record Again' : 'Record'}}</button>-->
<!--    <button *ngIf="isRecording"  class="btn btn-danger mr-3" (click)="stopRecording()">Stop</button>-->
<!--  </div>-->
  <div  fxLayout="row" fxLayoutAlign="center" class="form-text mb-3" ><!-- *ngIf="recorded"-->
    <app-videojs-record class = "mb-3" (recordingEmit)="updateFeedbackAttachment($event)"></app-videojs-record>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" class="form-text mb-3" [ngClass]="{'invisible' : !recorded}" ><!-- *ngIf="recorded"-->
    Click <a #feedbackAttachment>&nbsp;here&nbsp;</a> to download the recording
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <button *ngIf="!isRecording && recorded"  class="btn btn-secondary" (click)="submitFeedback()">Submit</button>
  </div>
<!--  <app-confirm-modal (responseEmit)="onCloseModal($event)" (feedbackEmit)="onFeedback($event)"></app-confirm-modal>-->
</div>
