.account_edit_wrapper {
    .container {
        padding: 16px;
      }

    input[type=text], input[type=password] {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    h1 {
        text-align: center;
        font-size: 40px;
    }

    label{
        font-size: 20px;
        padding-top: 10px;
        padding-right: 20px;
    }

    button {
        background-color: blue;
        color: white;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 15px; 
        padding: 14px 20px;
        border: none;
        cursor: pointer;
        width: 30%;
    }

    button:hover {
        opacity: 0.8;
    }

    .submitButton {
        width: 100px;
    }
}