<div class = "account-create-wrapper">
    <img src="../../../../assets/images/logo.png" width = "400" height = "400" class="center">

    <h1 *ngIf="loginPage"> Synchrony Login Page </h1>

    <h1 *ngIf="updatePasswordPage">Update Password Page</h1>

    <div class="container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <label for="username"> Username: </label>
            <input type="text" formControlName="username"/>

            <mat-error *ngIf="isSubmitClicked && username.errors?.required">
              Username cannot be blank!
            </mat-error>

            <br/>

            <label for="password"> Password: </label>
            <input type="password" formControlName="password"/>

            <mat-error *ngIf="isSubmitClicked && password.errors?.required">
              Password cannot be blank!
              <br/>
            </mat-error>

            <mat-error *ngIf="isSubmitClicked && !isValidUsernamePasswordCombi">
              Incorrect Username or Password!
            </mat-error>

            <div *ngIf="updatePasswordPage">
              <label for="newPassword">New Password: </label>
              <input type="password" formControlName="newPassword"/>
              <mat-error *ngIf="isSubmitClicked && newPassword.errors?.minlength">
                New Password must be at least 5 characters long!
              </mat-error>

              <mat-error *ngIf="isSubmitClicked && newPassword.errors?.required">
                New Password cannot be blank!
              </mat-error>

              <br/>
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" formControlName="confirmPassword"/>
            </div>

            <mat-error *ngIf="isSubmitClicked && loginForm.hasError('notSame')">
              Passwords do not match!
            </mat-error>

            <div *ngIf="updatePasswordPage">
              <button type="submit" class="btn btn-primary" >Update Password</button>
            </div>

            <div *ngIf="loginPage">
              <button type="submit" class="btn btn-primary"> Login </button>
            </div>

            <!-- <p>Form Value: {{ loginForm.value | json }}</p>
            <p>Form status: {{ loginForm.status | json }}</p> -->

        </form>
    </div>

</div>

