<app-header></app-header>

<br>

<div class="container">
    <div class="row">
        <div class="col">
            <app-cards [title]="newTitle" [description]="newDescription" [href]="newLink"></app-cards>
        </div>
        <div class="col">
            <app-cards [title]="editTitle" [description]="editDescription" [href]="editLink"></app-cards>
        </div>
        <div class="col">
            <app-cards [title]="markTitle" [description]="markDescription" [href]="markLink"></app-cards>
        </div>
    </div>
</div>