/* Structure */
table {
    width: 100%;
    margin: 20px auto;
}

.mat-form-field {
    padding-left: 10%;
    font-size: 16px;
    width: 80%;
}

/*
.mat-row:nth-child(even){
    background-color:#A9A9A9;
}

.mat-row:nth-child(odd){
    background-color:#DCDCDC;
}
*/
