<div class="table-wrapper">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder=" Search by e.g school, name " #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="matTableDataSource" striped="true" matSort>
    <!------ Start of Admin's Account Delete Page -------->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>

    <ng-container matColumnDef="school">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> School </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let tag of element.school; let i = index">
          <span *ngIf="tag =='NA'">
            {{tag}}
          </span>
            <span *ngIf="tag!='NA'">
            ({{i+1}}) {{tag}}
          </span>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="school_instrument_level">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> school_instrument_level </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let tag of element.school_instrument_level; let i = index">
          <span *ngIf="tag =='NA'" [contentEditable]="contenteditable">
            {{tag}}
          </span>
            <span *ngIf="tag!='NA'" [contentEditable]="contenteditable">
            ({{i+1}}) {{tag}}
          </span>
        </ng-container>
      </td>
    </ng-container>
    <!------ End of Admin's Account Delete Page -------->

<!--    <ng-container matColumnDef="month">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> Month </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.month}} </td>-->
<!--    </ng-container>-->

    <ng-container matColumnDef="instructor_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Instructor's Name </th>
      <td mat-cell *matCellDef="let element"> {{element.instructor.first_name + ' ' +
        element.instructor.last_name}} </td>
    </ng-container>

    <ng-container matColumnDef="feedback_datetime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Feedback Date </th>
      <td mat-cell *matCellDef="let element"> {{element.feedback_datetime.toDate() | date:'EEEE, MMMM d, y, h:mm:ss a'}} </td>
    </ng-container>

    <ng-container matColumnDef="minutes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration in minutes  </th>
      <td mat-cell *matCellDef="let element"> {{element.seconds/60 | number : '1.2-3'}} </td>
    </ng-container>

<!--    <ng-container matColumnDef="school_abbreviation">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> School </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.school_abbreviation}} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="year">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.year}} </td>-->
<!--    </ng-container>-->


    <!------ Instructor's Assignment edit Page -------->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Assignment Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="due_datetime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
      <td mat-cell *matCellDef="let element"> {{element.due_datetime}} </td>
    </ng-container>

    <!------ Start of Student's View Assignment Page -------->
    <!-- Assignment name and submission status is reused for instructor's mark assignment -->
    <ng-container matColumnDef="assignment_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Assignment Name </th>
      <td mat-cell *matCellDef="let element"> {{element.assignment_name}} </td>
    </ng-container>

    <ng-container matColumnDef="assignment_due_datetime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
      <td mat-cell *matCellDef="let element"> {{element.due_datetime.toDate() | date:'EEEE, MMMM d, y, h:mm:ss a'}} </td>
    </ng-container>

    <ng-container matColumnDef="assignment_submission_status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Submission Status </th>
      <td mat-cell *matCellDef="let element"> {{element.submission_status}} </td>
    </ng-container>


    <ng-container matColumnDef="assignment_instructor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Instructor </th>
      <td mat-cell *matCellDef="let element"> {{element.instructor.first_name + " " + element.instructor.last_name | titlecase}} </td>
    </ng-container>

    <!------ End of Student's View Assignment Page -------->

    <!------ Start of Instructor's Mark Assignment Page -------->
    <ng-container matColumnDef="assignment_school">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> School </th>
      <td mat-cell *matCellDef="let element"> {{element.school}} </td>
    </ng-container>
    <ng-container matColumnDef="assignment_school_instrument_level">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> School_Instrument_Level </th>
      <td mat-cell *matCellDef="let element"> {{element.school_instrument_level}} </td>
    </ng-container>
    <ng-container matColumnDef="assignment_student_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Student's Name </th>
      <td mat-cell *matCellDef="let element"> {{element.student_name}} </td>
    </ng-container>
    <ng-container matColumnDef="assignment_feedback_status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Feedback Status </th>
      <td mat-cell *matCellDef="let element"> {{element.feedback_status}} </td>
    </ng-container>
    <!------ End of Instructor's Mark Assignment Page -------->

    <!-- Action Buttons -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
            <!-- <button type="button" mdbBtn color="danger" value="{{element.username}}" (click)="delete(element.username)" mdbWavesEffect> Delete </button> -->
            <!-- <button type="button" mdbBtn color="danger" value="{{element.username}}" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect> Delete </button> -->
          <ng-container *ngIf="accountUsername!=element.username">
            <app-dialog-box *ngIf="actionType=='accountDelete'" [actionType]="actionType" [docid]="element.docId" [username]="element.username"></app-dialog-box>
          </ng-container>

          <ng-container>
            <app-dialog-box *ngIf="actionType=='accountEdit'" [actionType]="actionType" [docid]="element.docId" [username]="element.username" (click)="test(element)"></app-dialog-box>
          </ng-container>

          <app-dialog-box *ngIf="actionType=='wage'" [actionType]="actionType"></app-dialog-box>

          <button *ngIf="actionType=='instructorAssignmentEdit'" type="button" mdbBtn color="info" mdbWavesEffect routerLink="/instructor/assignment/edit/assignment/{{ element.docId }}"> Edit </button>

          <app-dialog-box *ngIf="actionType=='instructorAssignmentEdit' && element.canDelete == true" [actionType]="actionType" [docid]="element.docId" [assignmentName]="element.name"></app-dialog-box>

          <button *ngIf="actionType=='assignmentSubmit'" type="button" mdbBtn color="info" rounded="true" (click)="onSubmitClick(element.docId)" mdbWavesEffect>
            {{element.submission_status == 'Pending Submission' ? "Submit" : "Resubmit"}} </button>

          <ng-container *ngIf="actionType=='assignmentView'">
            <button *ngIf="!element.isOverDueDate" type="button" mdbBtn color="info" rounded="true" (click)="onSubmitClick(element.docId)" mdbWavesEffect>
              {{element.submission_status == 'Pending Submission' ? "Submit" : "Resubmit"}} </button>
            <button *ngIf="element.assignmentSubmission?.feedback_datetime != null" type="button" mdbBtn color="info" rounded="true" (click)="onFeedbackClick(element.assignmentSubmission.docId)" mdbWavesEffect>
              View Feedback </button>
          </ng-container>

          <button *ngIf="actionType=='assignmentMark'" type="button" mdbBtn color="info" rounded="true" (click)="onMarkClick(element.docId)" mdbWavesEffect>
            {{element.feedback_datetime == null ? "Mark" : "Re-mark"}} </button>

        </td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
<!--      <ng-container *ngIf="dataSource">-->
<!--        <tr class="mat-row text-center" *matNoDataRow>-->
<!--          <h3>No results</h3>-->
<!--        </tr>-->
<!--      </ng-container>-->
    </table>
    <div class="spinner-container">
      <mat-progress-spinner *ngIf="!dataSource" class="mt-2 mb-2" mode="indeterminate" [diameter]="40"></mat-progress-spinner>
      <div *ngIf="dataSource && dataSource.length === 0" class="no-results-message">No search results</div>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>




  <!--
  <div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" (open)="onOpen($event)">
    <div class="modal-dialog modal-notify modal-danger" role="document">

      <div class="modal-content">

        <div class="modal-header">
          <p class="heading lead"> Delete User ? </p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>


        <div class="modal-body">
          <div class="text-center">
            <mdb-icon fas icon="user-alt-slash" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
            <p>Are you sure you would want to delete this user ?</p>
          </div>
        </div>


        <div class="modal-footer justify-content-center">
          <a type="button" mdbBtn color="danger" class="waves-light" mdbWavesEffect> Delete
            <mdb-icon far icon="times-circle" class="ml-1"></mdb-icon>
          </a>
          <a type="button" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()"
            data-dismiss="modal"> No </a>
<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" (open)="onOpen($event)">
    <div class="modal-dialog modal-notify modal-danger" role="document">

      <div class="modal-content">

        <div class="modal-header">
          <p class="heading lead"> Delete User ? </p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>


        <div class="modal-body">
          <div class="text-center">
            <mdb-icon fas icon="user-alt-slash" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
            <p>Are you sure you would want to delete this user ?</p>
          </div>
        </div>

    </div>
  </div>
-->

<!--</div>-->

<!--        <div class="modal-footer justify-content-center">-->
<!--          <a type="button" mdbBtn color="danger" class="waves-light" mdbWavesEffect> Delete-->
<!--            <mdb-icon far icon="times-circle" class="ml-1"></mdb-icon>-->
<!--          </a>-->
<!--          <a type="button" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect-->
<!--            data-dismiss="modal"> No </a>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
</div>


