<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" striped="true" matSort>
  
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
  
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> role </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="school">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> school </th>
      <td mat-cell *matCellDef="let element"> {{element.school}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> group </th>
      <td mat-cell *matCellDef="let element"> {{element.school_group}} </td>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> last_name </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>

    
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> action </th>
        <td mat-cell *matCellDef="let element"> 
            <!-- <button type="button" mdbBtn color="danger" value="{{element.username}}" (click)="delete(element.username)" mdbWavesEffect> Delete </button> -->
            <!-- <button type="button" mdbBtn color="danger" value="{{element.username}}" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect> Delete </button> -->
            <button *ngIf="actionType=='accountDelete'" type="button" mdbBtn color="danger" value="{{element.docId}}" rounded="true" (click)="deleteDocId(element.docId)" mdbWavesEffect> Delete </button>
            <button *ngIf="actionType=='wage'" type="button" mdbBtn color="info" value="{{element.docId}}" rounded="true" (click)="editDocId(element.docId)" mdbWavesEffect> View Hours </button>
            
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>




<!-- 
<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" (open)="onOpen($event)">
  <div class="modal-dialog modal-notify modal-danger" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <p class="heading lead"> Delete User ? </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>


      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="user-alt-slash" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>Are you sure you would want to delete this user ?</p>
        </div>
      </div>


      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="danger" class="waves-light" mdbWavesEffect> Delete
          <mdb-icon far icon="times-circle" class="ml-1"></mdb-icon>
        </a>
        <a type="button" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()"
          data-dismiss="modal"> No </a>
      </div>
    </div>

  </div>
</div>
-->