<!--<app-header [role]="'admin'"></app-header>-->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>

  </div>
</div>
<div class="account-create-wrapper wrapper-padding">
  <h1 class="mb-3">Create Accounts and Groups</h1>
  <div class="mb-2">Please upload a file similar to the following format:
     <div class="mt-2 form-text text-muted" >
      Accounts:<a [href]="'https://firebasestorage.googleapis.com/v0/b/synchrony-8287c.appspot.com/o/sample_data%2Faccounts_sample.csv?alt=media&token=3c65aa7e-3981-4b3e-9076-18a39261acad'">
         {{"accounts_sample.csv"}}
       </a>
    </div>
  </div>

<!--  <label class="btn primary-btn">-->
<!--    <i class="fa fa-image"></i> Choose File-->
<!--    <input #file type="file" accept="text/csv"  class="d-none" [textContent]="'Choose File'"/>-->
<!--  </label>-->
  <input #file class="mb-3 form-control" accept=".csv" type="file">
  <div>
<!--    <button class="btn btn-info" (click)="uploadFile()">Upload</button>-->
  </div>
<!--  <app-confirm-modal (responseEmit)="onCloseModal($event)"></app-confirm-modal>-->
</div>
