<!--<app-header [role]="'admin'"></app-header>-->
<app-header></app-header>
<div class="account-create-wrapper wrapper-padding">
  <h1 class="mb-3">{{ isAdmin ? "Account & Grouping Creation" : "Create student"}}</h1>
  <div class="mb-2">
    {{ isAdmin ? "Please upload a file with account data in accordance to the format provided in the sample .csv file below."
    : "Please upload a file with students' account data in accordance to the format provided in the sample .csv file below."}}
     <div class="mt-2 form-text text-muted" >
       <ng-container *ngIf="isAdmin">
         Sample file:<a [href]="'https://firebasestorage.googleapis.com/v0/b/synchrony-581ed.appspot.com/o/accounts_sample.csv?alt=media&token=8d1facc3-1b15-4260-89a3-db364b32a9ea'">
         {{"accounts_sample.csv"}}
       </a>
       </ng-container>
       <ng-container *ngIf="!isAdmin">
         Sample file:<a [href]="'https://firebasestorage.googleapis.com/v0/b/synchrony-581ed.appspot.com/o/accounts_sample_students.csv?alt=media&token=24801678-febb-4c8b-9110-e43f8efe5f0c'">
         {{"accounts_sample_students.csv"}}
       </a>
       </ng-container>
    </div>
  </div>

  <app-dropzone [label]="'Please drag and drop your accounts files here. (Accepted format: .csv)'"

                [acceptedFileTypes] = "'.csv'"
                [acceptMultipleFiles]=false (fileEmit)="accountFile = $event[0]"></app-dropzone>
  <div class="mt-3 mb-3">
    <button class="btn btn-info mr-2" (click)="onInstructionsClick()">View Instructions</button>
    <button class="btn btn-success" (click)="uploadFile()">Upload</button>
  </div>
  <div *ngIf="isUploading">
    Uploading in process: <mat-progress-bar id="progress-bar" mode="indeterminate" class="mt-3 mb-3"></mat-progress-bar>
  </div>

  <ng-container *ngIf="errors.length > 0 && !isUploading">
    <mat-error class="mb-3">Error<span *ngIf="errors.length > 1">s</span>
       encountered (No accounts were added to database): </mat-error>
      <div *ngFor="let error of errors; let i = index">
        <mat-error>{{i + 1}}. {{error}}</mat-error>
      </div>
  </ng-container>

  <app-confirm-modal (responseEmit)="onCloseModal($event)"></app-confirm-modal>
</div>
