<!--<app-header [role]="'admin'"></app-header>-->
<app-header></app-header>
<div class="account-create-wrapper wrapper-padding">
  <h1 class="mb-3">Create Accounts and Groups</h1>
  <div class="mb-2">Please upload a file similar to the following format:
     <div class="mt-2 form-text text-muted" >
      Accounts:<a [href]="'../../../assets/csv/accounts_sample.csv'">
         {{"accounts_sample.csv"}}
       </a>
    </div>
  </div>

<!--  <label class="btn primary-btn">-->
<!--    <i class="fa fa-image"></i> Choose File-->
<!--    <input #file type="file" accept="text/csv"  class="d-none" [textContent]="'Choose File'"/>-->
<!--  </label>-->
  <app-dropzone [label]="'Drop the accounts information file here (Accepted format: .csv)'"
                [acceptedFileTypes] = "'.csv'"
                [acceptMultipleFiles]=false (fileEmit)="accountFile = $event[0]"></app-dropzone>
<!--  <input #file class="mb-3 form-control" accept=".csv" type="file">-->
  <div class="mt-3 mb-3">
    <button class="btn btn-info" (click)="uploadFile()">Upload</button>
  </div>
  <div *ngIf="isUploading">
    Uploading in process: <mat-progress-bar id="progress-bar" mode="indeterminate" class="mt-3 mb-3"></mat-progress-bar>
  </div>

  <ng-container *ngIf="errors.length > 0 && !isUploading">
    <mat-error class="mb-3">Error<span *ngIf="errors.length > 1">s</span>
       encountered (No accounts were added to database): </mat-error>
      <div *ngFor="let error of errors; let i = index">
        <mat-error>{{i + 1}}. {{error}}</mat-error>
      </div>
  </ng-container>

<!--  <app-confirm-modal (responseEmit)="onCloseModal($event)"></app-confirm-modal>-->
</div>
