<!DOCTYPE html>
<html>
    <!-- <head>
        <style>
            /* .cards {
                display: flex;
            } */
            .card-image {
                width: 50%;
                height: auto;
            }
            a {
                text-align: center;
            }
        </style>
    </head> -->
    <!-- <body> 
        let the number of cards be a variable -->
        <!-- let the name, description and images be variables
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="artem1.png" class="card-image"><br>
                    <a class="title-text">create account</a>
                </div>
                <div class="col-2">
                    <img src="artem2.png" class="card-image"><br>
                    <a class="title-text">edit/delete account</a>
                </div>
                <div class="col-2">
                    <img src="artem3.png" class="card-image"><br>
                    <a class="title-text">view freelance wages</a>
                </div>
            </div>
        </div>
    </body> -->

    <body>
        <div class="container">
            <div class="row">
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4">.col-md-4</div>
            </div>
        </div>
    </body>
</html>

