<app-header></app-header>
<div class="assignment-feedback-individual-wrapper wrapper-padding max-width-section">
  <h1 *ngIf="assignment" class="mb-3">{{assignment.name}}'s Feedback</h1>
  <h3 class="mb-3">Instructor's feedback</h3>
  <p *ngIf="assignmentSubmission"class="mb-3">{{assignmentSubmission.feedback}}</p>
  <h3 class="mb-3">Attachments</h3>
  <div *ngIf="assignmentSubmission && assignmentSubmission.instructor_feedback_attachment" class="form-text mb-3" >
      Click to download: <a [href]="assignmentSubmission.instructor_feedback_attachment">{{assignmentSubmission.instructor_feedback_attachment_name}}</a>
  </div>
  <div class="go-back-section" (click)="onGoBackClick()">
    <mat-icon class="mr-1">arrow_back</mat-icon>
    <span class="go-back-text">Back</span>
  </div>
</div>
