
<button *ngIf="actionType=='accountDelete'" type="button" mdbBtn color="danger" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"  mdbWavesEffect> Delete </button>

<button *ngIf="actionType=='accountEdit'" type="button" mdbBtn color="danger" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"  mdbWavesEffect> Back </button>

<button *ngIf="actionType=='wage'" type="button" mdbBtn color="info" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect> View </button>

<button *ngIf="actionType=='instructorAssignmentEdit'" type="button" mdbBtn color="danger" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect> Delete </button>

<button *ngIf="actionType=='instructorEditIndividual'" type="button" mdbBtn color="primary" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="acquire_file()" (click)="frame.show()" mdbWavesEffect> View </button>

<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" (open)="onOpen($event)">
    
    <!-- DELETE MODAL ACCOUNT -->
    <div *ngIf="actionType=='accountDelete'" class="modal-dialog modal-notify modal-danger" role="document">

        <div  class="modal-content">

            <div class="modal-header">
                <p class="heading lead"> Delete User ? </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="text-center">
                    <mdb-icon fas icon="user-alt-slash" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
                    <p>Are you sure you would want to delete this user "<b>{{username}}</b>"?<br> <b>This action cannot be undone.</b></p>
                </div>
            </div>

            <div class="modal-footer justify-content-center">
            <a type="button" mdbBtn color="danger" class="waves-light" (click)="click_to_delete_account()" (click)="frame.hide()" mdbWavesEffect> Delete
                <!-- <mdb-icon far icon="times-circle" class="ml-1"></mdb-icon> -->
            </a>
            <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()"
                data-dismiss="modal"> Cancel </a>
            </div>
        </div>
    </div>
    <!-- DELETE OF MODAL ACCOUNT -->

    <!-- EDIT MODAL -->
    <div *ngIf="actionType=='accountEdit'" class="modal-dialog modal-notify modal-danger" role="document">

        <div  class="modal-content">

            <div class="modal-header">
                <p class="heading lead"> Leave this page? </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="text-center">
                    <mdb-icon fas icon="user-alt-slash" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
                    <p>Are you sure you want to leave this page? Changes will not be saved.</p>
                </div>
            </div>

            <div class="modal-footer justify-content-center">
            <a type="button" mdbBtn color="danger" class="waves-light" (click)="goBack()" mdbWavesEffect> Confirm
            </a>
            <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()"
                data-dismiss="modal"> Cancel </a>
            </div>
        </div>
    </div>
    <!-- EDIT MODAL -->

    <!-- ACCOUNT WAGE -->
    <div *ngIf="actionType=='wage'" class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <p class="heading lead"> view instructor wages </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="text-center">
                    <mdb-icon fas icon="user-alt-slash" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
                    <p> Would you like to pay the instructor ? </p>
                </div>
            </div>


            <div class="modal-footer justify-content-center">
            <a type="button" mdbBtn color="info" class="waves-light" (click)="click_to_view()" mdbWavesEffect> Pay Now
                <mdb-icon far icon="times-circle" class="ml-1"></mdb-icon>
            </a>
            <a type="button" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()"
                data-dismiss="modal"> No </a>
            </div>
        </div>
    </div>
    <!-- END OF ACCOUNT WAGE -->

    <!-- DELETE ASSIGNMENT ACCOUNT -->
    <div *ngIf="actionType=='instructorAssignmentEdit'" class="modal-dialog modal-notify modal-danger" role="document">

        <div  class="modal-content">

            <div class="modal-header">
                <p class="heading lead"> Delete Assignment ? </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="text-center">
                    <mdb-icon fas icon="comment-slash" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
                    <p> Are you sure you would want to delete this assignment titled "<b>{{assignmentName}}</b>"? <br><b>This action cannot be undone.</b></p>
                </div>
            </div>

            <div class="modal-footer justify-content-center">
            <a type="button" mdbBtn color="danger" class="waves-light" (click)="click_to_delete_assignment()" mdbWavesEffect> Delete
                <mdb-icon far icon="times-circle" class="ml-1"></mdb-icon>
            </a>
            <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()"
                data-dismiss="modal"> Cancel </a>
            </div>
        </div>
    </div>
    <!-- END OF DELETE ASSIGNMENT ACCOUNT -->

    <!-- INSTRUCTOR ASSIGNMENT ACCOUNT -->
    <div *ngIf="actionType=='instructorEditIndividual'" class="modal-dialog modal-notify modal-primary" role="document">

        <div  class="modal-content">

            <div class="modal-header">
                <p class="heading lead"> View File </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="text-center">
                    <!-- PDF -->
                    <div *ngIf="fileType=='pdf'">
                        <embed [src]="returnSafeURL()" style="width:100%; height: 300px" type="application/pdf">
                    </div>
                    <!-- video -->
                    <div *ngIf="fileType=='mp4'">
                        <div class="embed-responsive embed-responsive-16by9">
                            <video width="320" height="240" controls src="{{videoUrl}}" type="video/mp4"></video>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-center">
            <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()"
                data-dismiss="modal"> Close </a>
            </div>
        </div>
    </div>
    <!-- DELETE ASSIGNMENT ACCOUNT -->

</div>
