
<button *ngIf="actionType=='accountDelete'" type="button" mdbBtn color="danger" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"  mdbWavesEffect> Delete </button>
<button *ngIf="actionType=='wage'" type="button" mdbBtn color="info" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect> View </button>


<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" (open)="onOpen($event)">
    
    <!-- DELETE MODAL -->
    <div *ngIf="actionType=='accountDelete'" class="modal-dialog modal-notify modal-danger" role="document">

        <div  class="modal-content">

            <div class="modal-header">
                <p class="heading lead"> Delete User ? </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="text-center">
                    <mdb-icon fas icon="user-alt-slash" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
                    <p>Are you sure you would want to delete this user <b> {{username}} </b> <br> ? this action cannot be undo </p>
                </div>
            </div>

            <div class="modal-footer justify-content-center">
            <a type="button" mdbBtn color="danger" class="waves-light" (click)="click_to_delete()" mdbWavesEffect> Delete
                <mdb-icon far icon="times-circle" class="ml-1"></mdb-icon>
            </a>
            <a type="button" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()"
                data-dismiss="modal"> No </a>
            </div>
        </div>
    </div>

    <!-- VIEW MODAL -->
    <div *ngIf="actionType=='wage'" class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <p class="heading lead"> view instructor wages </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="text-center">
                    <mdb-icon fas icon="user-alt-slash" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
                    <p> Would you like to pay the instructor ? </p>
                </div>
            </div>


            <div class="modal-footer justify-content-center">
            <a type="button" mdbBtn color="info" class="waves-light" (click)="click_to_view()" mdbWavesEffect> Pay Now
                <mdb-icon far icon="times-circle" class="ml-1"></mdb-icon>
            </a>
            <a type="button" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()"
                data-dismiss="modal"> No </a>
            </div>
        </div>
    </div>
    <!-- END OF VIEW MODAL -->

</div>
