<app-header></app-header>
<div class="account-create-wrapper wrapper-padding">

  <h1 class="mb-3"> Activity Log By School: {{instructor_school}}</h1>
  <br>
  <h4 class="mb-6"> Accumulated time: {{ display_accumulated_time }} mins </h4>
  <h4 class="mb-6" *ngIf="query_by_year_month.length == 0"> Filtered by: All </h4>
  <h4 class="mb-6" *ngIf="query_by_year_month.length != 0"> Filtered by: {{query_by_year_month}}</h4>
  <br>
  
  <div *ngIf="dataSource.length!=0">
    <ng-container><app-input-dropdown-select [inputDataList]="years" [name]="nameYear" (outputData)="get_query_data_year($event)"></app-input-dropdown-select></ng-container>
    <ng-container><app-input-dropdown-select [inputDataList]="months" [name]="nameMonth" (outputData)="get_query_data_month($event)"></app-input-dropdown-select></ng-container>
    <br>
    <div class="float-right">
      <div class="float-right">
        <app-pdf-printer [query_by_year_month]="query_by_year_month" [dataSource]="dataSource" [instructor_name]="instructor_name" [instructor_school]="instructor_school" [display_accumulated_time]="display_accumulated_time"></app-pdf-printer>
      </div>
    </div>
    <app-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"></app-table>
  </div>

  <div *ngIf="dataSource.length==0" class="text-center">
    <br>
    <br>
    <mat-spinner style="margin:0 auto;"></mat-spinner>
    <br>
    <h1 class="mb-3"> Loading Table Content</h1>
  </div>
</div>

