<!-- let the number of cards be a variable -->
<!-- let the name, description and images be variables -->
<p>hello world</p>
<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="test1.png" class="card-image"><br>
            <a class="title-text">create account</a>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="test2.png" class="card-image"><br>
            <a class="title-text">edit/delete account</a>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="test3.png" class="card-image"><br>
            <a class="title-text">view freelance wages</a>
        </div>
    </div>
</div>
