<!-- let the number of cards be a variable -->
<!-- let the name, description and images be variables -->
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <img src="test1.png" class="card-image-top"><br>
                    <h2 class="card-title">create account</h2>
                    <h4 class="card-text">insert description here</h4>
                    <a href="admin/account/create" class="btn btn-primary stretched-link">Create account</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <img src="test2.png" class="card-image-top"><br>
                    <h2 class="card-title">edit account</h2>
                    <h4 class="card-text">insert description here</h4>
                    <a href="admin/account/edit" class="btn btn-primary stretched-link">Edit account</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <img src="test2.png" class="card-image-top"><br>
                    <h2 class="card-title">delete account</h2>
                    <h4 class="card-text">insert description here</h4>
                    <a href="admin/account/delete" class="btn btn-primary stretched-link">Delete account</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <img src="test3.png" class="card-image-top"><br>
                    <h2 class="card-title">view freelance wages</h2>
                    <h4 class="card-text">insert description here</h4>
                    <a href="admin/freelance" class="btn btn-primary stretched-link">View freelance wages</a>
                </div>
            </div>
        </div>
    </div>
</div>
