<app-header></app-header>
<div class="account-create-wrapper wrapper-padding">
  <h1 class="mb-3"> Activity Log: {{instructor_name}} / {{instructor_school}}</h1>
  <br>
  <h4 class="mb-6"> Accumulated time: {{ display_accumulated_time }} mins </h4>
  <h4 class="mb-6" *ngIf="query_by_year_month.length == 0"> Filtered by: All </h4>
  <h4 class="mb-6" *ngIf="query_by_year_month.length != 0"> Filtered by: {{query_by_year_month}}</h4>
  <br>
  <!-- 
  <app-input-dropdown-select [inputDataList]="roles" [name]="nameRole"  (outputData)="get_query_data_roles($event)"></app-input-dropdown-select>
  <br> -->
  <ng-container><app-input-dropdown-select [inputDataList]="years" [name]="nameYear" (outputData)="get_query_data_year($event)"></app-input-dropdown-select></ng-container>
  <ng-container><app-input-dropdown-select [inputDataList]="months" [name]="nameMonth" (outputData)="get_query_data_month($event)"></app-input-dropdown-select></ng-container>
  <br>
  <div class="float-right">
    <button type="button" class="btn btn-primary btn-floating" (click)="createPdf()">
      Print  <i class="fas fa-download"></i>
    </button>
  </div>
  <app-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"></app-table>
</div>