<div class="confirm-modal-wrapper">
  <ng-template #confirmModal let-modal>
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title">{{title}}</h3>
      <button type="button" class="close" (click)="modal.dismiss('cross')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div  class="modal-body">
      {{description}}
      <div *ngIf="title == 'Submit Feedback'|| title == 'Confirm Feedback Submission'">
        <h3>Score</h3>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Please input score</mat-label>
          <input matInput placeholder="" value=""
                 [(ngModel)]="grade">
        </mat-form-field>
        <mat-error *ngIf="isGradeError && !grade">
          Score cannot be empty
        </mat-error>
        <h3>Feedback</h3>
        <mat-form-field appearance="fill"  class="w-100">
          <mat-label>Enter your feedback (Optional) </mat-label>
          <textarea [(ngModel)]="feedback" matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="4"></textarea>
        </mat-form-field>
        <small *ngIf="assignmentSubmission && assignmentSubmission.feedback" class="form-text text-muted" >
          Previous Score: {{assignmentSubmission.grade}} &nbsp;
          Previous Feedback: {{assignmentSubmission.feedback}}
        </small>
      </div>
      <div *ngIf="title == 'Account Creation Instructions' || title == 'Student\'s Account Creation Instructions'">
        <p> 1. Download the accounts sample file on the top of this page</p>
        <p> 2. Remove the sample accounts in the file and add accounts (new rows) that you want to create/update </p>
        <p> 3. Ensure that the below rules are met: </p>
        <div *ngIf="title == 'Account Creation Instructions'" class="ml-3">
          <p> a. The file must be .csv format </p>
          <p> b. The first row should contain all 6 columns headers: (role,	school,	school_instrument_level,	first_name,	last_name,	password)</p>
          <p> c. At least 1 row should be present (excluding the column headers) </p>
          <p> d. Every field values needs to be filled (Except for school and school_instrument_level column for admin accounts) </p>
          <p> e. The password should be at least 5 characters long </p>
          <p> f. The role should only be 1 of these 3 values: admin, instructor, student </p>
          <p> g. Uploading an account with the same first name ane last name as an existing account will overwrite it</p>
        </div>
        <div *ngIf="title == 'Student\'s Account Creation Instructions'" class="ml-3">
          <p> a. The file must be .csv format </p>
          <p> b. The first row should contain all 5 columns headers: (school,	school_instrument_level, first_name,	last_name,	password)</p>
          <p> c. At least 1 row should be present (excluding the column headers) </p>
          <p> d. Every field values needs to be filled </p>
          <p> e. The password should be at least 5 characters long </p>
          <p> f. Instructors can only upload students with the same school_instrument_level as them (Students can have fewer school_instrument_level then instructors)</p>
          <p> g. Uploading an account with the same first name ane last name as an existing account will overwrite it</p>
        </div>
        <p> 4. Click on the dotted box above and select this newly created file  </p>
        <p> 5. Click the upload button </p>
      </div>
      <div *ngIf="title == 'Recording Instructions'">
        <h4> Recording Steps </h4>
        <p> 1. Select the desired recording option. (Screen recording to record computer screen
          / Camera recording to record camera) </p>
        <p> 2. Click on the record button when you are ready to being recording </p>
        <p> 3. Enable screen sharing/camera permissions </p>
        <p> 4. The recording will begin. Pause when necessary. </p>
        <p> 5. After recording, press stop and click submit feedback to send it to the respective student</p>
        <hr>
        <h4> Text feedback without recording </h4>
        <p> Alternatively, choose "No recording" for recording option to submit text feedback without recording screen/video</p>
        <hr>
        <h4> Student attachments </h4>
        <div class="form-text" >
          Scoresheet pdf:
          <a #scoresheet target="_blank" [href]="assignmentSubmission?.student_attachment_scoresheet">
            {{assignmentSubmission?.student_attachment_scoresheet_name}}
          </a>
        </div>
        <div class="form-text" >
         Video recording :
          <a #videoPlayer target="_blank" [href]="assignmentSubmission?.student_attachment_recording">
            {{assignmentSubmission?.student_attachment_recording_name}}
          </a>
        </div>
        <hr>
        <ng-container *ngIf="assignmentSubmission && assignmentSubmission.feedback_datetime != null">
          <h4> Previously submitted instructor's feedback information</h4>
          <div class="form-text" >
            <div> Score: {{assignmentSubmission.grade}}</div>
            <div> Feedback: {{assignmentSubmission.feedback == '' ? "No Feedback" : assignmentSubmission.feedback}} </div>
            <div *ngIf="assignmentSubmission.instructor_feedback_attachment != ''"> Feedback Recording:
              <a target="_blank" [href]="assignmentSubmission?.instructor_feedback_attachment">
                {{assignmentSubmission?.instructor_feedback_attachment_name}}
              </a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="modal-footer">
      <div *ngFor="let button of buttons">
        <button *ngIf="button == 'close'" type="button" class="btn btn-danger" (click)="modal.close(button)">Close</button>
        <button *ngIf="button == 'discard'" type="button" class="btn btn-danger" (click)="modal.close(button)">Discard Changes</button>
        <button *ngIf="button == 'delete'" type="button" class="btn btn-danger" (click)="modal.close(button)">Delete</button>
        <button *ngIf="button == 'submit'" type="button" class="btn btn-success" (click)="modal.close(button)" [disabled]="!grade && grade !== 0">Submit</button>
        <button *ngIf="button == 'ok'" type="button" class="btn btn-primary" (click)="modal.close(button)">OK</button>
      </div>

    </div>
  </ng-template>
</div>

